---
import FeaturedRoadmaps from '../components/FeaturedRoadmaps/FeaturedRoadmaps.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import Navbar from '../components/Header.astro';
import Content from '../components/Content.astro';
import Inovation from '../components/inovation.astro';
import Feedback from '../components/feedback.astro';
import Footer from '../components/Footer.astro';
import { getRoadmapsByTag } from '../utils/roadmap';

const roleRoadmaps = await getRoadmapsByTag('role-roadmap');
const skillRoadmaps = await getRoadmapsByTag('skill-roadmap');
---

<BaseLayout title='Developer Roadmaps - roadmap.sh' description={"Community driven roadmaps, articles and guides for developers to grow in their career."} permalink={'/'}>
<Navbar/>
	<div class="bg-[url('/bg6.jpg')] bg-no-repeat bg-cover w-full min-h-screen' ">
		<Content>
    <div>
      <div
        class='text-left sm:text-left py-6 sm:py-20 px-6 sm:px-0'
      >
        <h1
          class='text-2xl sm:text-2xl mb-2 sm:mb-4 font-bold text-white'
        >
		Hey! 👋
        </h1>
      </div>
    </div>
    <h2
      class=" sm:flex rounded-lg w-32 bg-slate-900 py-1 px-3 border border-slate-900 text-md text-slate-400 font-regular"
    >
	Role based
    </h2>

    <FeaturedRoadmaps roadmaps={roleRoadmaps} />

	<h2
	class=" sm:flex rounded-lg w-32 bg-slate-900 py-1 px-3 border border-slate-900 text-md text-slate-400 font-regular"
  >
  Skill based
  </h2>
    <FeaturedRoadmaps roadmaps={skillRoadmaps} />

    <div class='grid grid-cols-1 gap-7 sm:gap-16 py-7 sm:py-16'>
    </div>
</Content>
<Inovation/>
<Feedback/>
<Footer/>
  </div>
</BaseLayout>